trainset/actin/0.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/10.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/7.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/10.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/17.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/2.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/15.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/9.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/19.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/7.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/8.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/9.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/13.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/3.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/4.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/8.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/11.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/3.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/18.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/19.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/2.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/13.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/14.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/6.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/14.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc filter=lfs diff=lfs merge=lfs -text
trainset/nuc/0.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/15.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/12.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/5.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/18.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/1.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/11.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/17.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/12.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/16.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/5.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin filter=lfs diff=lfs merge=lfs -text
trainset/actin/16.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/1.h5 filter=lfs diff=lfs merge=lfs -text
trainset/actin/6.h5 filter=lfs diff=lfs merge=lfs -text
trainset/nuc/4.h5 filter=lfs diff=lfs merge=lfs -text
